body{
  background-color: #adfbef;
}
.bg_image{
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-position: center;
}
#grey_filter{
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: rgba(30,30,30,0.8);
}
.slide{
}
.event{
  background-image: url(../img/bg.png);
  background-size: 100% 100%;
  background-position: center;
  margin-left: calc(50% - 60vh);
  padding: 10vh;
  height: 85vh;
  width: 127vh;
  padding: 3vh;
}
.event_row{
  margin-top:10%;
  margin-left: 15%;
  width: 70%;
  height: 75%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.event_left{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  height: 100%;
}
.event_image{
  width: 100%;
  height: 60vh;
  margin-bottom: 2vh;
  overflow: scroll;

  background-position: center;
  background-size: cover;
  border-radius: 5px;
  /*box-shadow: 0 0 10px #000;*/
}
.event_name{
  font-family: 'Lobster', cursive;
  width: 100%;
  font-size: 5vh;
  height: 20vh;
  overflow-x:scroll;
}
.event_right{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.event_tabs{
  font-family: 'Lobster', cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 1.2em;
}
.event_tab{
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.event_tab:hover{
  background-color: rgba(255,255,255,0.3);
}
.event_tab_active{
  border-style: solid;
  border-width: 1px;
}
.event_info{
  flex-grow: 2;
  font-size: 0.8em;
  font-family: 'Domine', serif;
  margin: 30px;
  overflow: scroll;
  padding: 10px;
}
.event_register{
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 0.8em;
}
.event_register_button{
  text-align: center;
  font-size: 1em;
font-family: 'Domine', serif;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
.event_register_button:hover{
  background-color: rgba(255,255,255,0.3);
}


@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
    .event{
      background-image: url(../img/bg_mob.png);
      background-size: 100% 100%;
      background-position: center;
      margin-left: 0;
      padding: 10vw;
      height: 142vw;
      width: 100vw;
      padding: 1vw;
      box-sizing: border-box;
    }
    .event_row{
      flex-direction: column;
      align-items: center;
      height: 105vw;
      margin-top:20vw;
    }
    .event_left{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 40%;
      text-align: center;
    }

    .event_image{
      width: 100%;
      height: 60vw;
      margin-bottom: 2vw;
      background-position: center;
      background-size: cover;
      border-radius: 5px;
    }

    .event_name{
      font-family: 'Lobster', cursive;
      width: 100%;
      font-size: 3.5vh;
    }
    .event_tabs{
      font-size: 1em;
    }

    .event_right{
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 60%;
      margin-bottom: 10vw;
      justify-content: space-around;
    }
    .event_info{
      font-size: 0.8em;
      font-family: 'Domine', serif;
      margin: 0px;
      overflow: scroll;
      padding: 10px;
    }

    .event_register{
      padding: 2px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 0.8em;
      margin-top:10vw;
    }

    .event_register_button{
      text-align: center;
      font-size: 1em;
    font-family: 'Domine', serif;
      padding: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        margin: 5px;
        cursor: pointer;
    }
}




.container{
  width: 100vw;
}




.button_container {
  position: fixed;
  top: 5%;
  left: 5%;
  height:50px;
  width: 40px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

@media only screen and (max-width: 500px) {
  .button_container{
    width: 30px;
  }
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #FFF;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #4c3030;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
  animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
  animation-delay: .50s;
}
.overlay nav {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 70px;
  font-family: serif;
  font-weight: 400;
  text-align: center;
  z-index: 10001;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
.overlay ul li {
  display: block;
  min-height: 60px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
  font-size: 24px;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  width: 0px;
  background: transparent;
}
